
body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: orange;    
}
    
#container{
    display:grid;
    height:300vh;
    grid-template-rows: 10vh 5vh 50vh;
}

nav{
    display: flex;
    background-color:rgba(250, 182, 71, 1);
    align-items: center;
    justify-content: space-around;
    
    
}
header{
    background-color:orange
}
#mainlogo{
    margin-left:20px;
    max-width:120px;
}
#bg2{
    width:100vw;
    z-index: 2px;
}
#bg1{

    margin:-10px;
    width:100vw;
    position: absolute;
    z-index: 20px;

}
#bg3{

    margin-top:-160px;
    margin-left:80px;
    width:30vw;
    position: absolute;
    z-index: 50;
}

article{
    padding: 0;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: middle;
    place-items: center;
    position: absolute;
    z-index: -10;
}

section#part-green article {
    width:25%;
    margin-top:800px;
    margin-left:200px;
    height:100px;
    background-color:rgb(255, 174, 0);
    position: absolute;
    z-index: -2;
  }

